*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{text-decoration: none;}
.wrap{
	width: 100%;
	height: 100%;
	min-width: 998px;
}
.clearfix{
	content: " ";
	display: table;
	clear: both;
}
.head{
	background: #2189bf;
	width: 100%;
	height: 56px;
}
.logo{
	float: left;
	width: 36px;
	height: 36px;
	background: #fff;
	margin: 10px 0 10px 50px;
}
.logo-line{
	height: 15px;
	width: 15px;
	position: relative;
	border: 2px solid #2189bf;
	left: 19px;
	top:19px;
}
.search-box{
	float: right;
	margin: 13px 0 13px 0;
	margin-right:13%;
	width: 320px;
	height: 30px;
	border-radius: 15px;
    background: #fff;

}
.s-box{
	float: right;
	position: relative;
	left: -15px;
	width: 270px;
	height: 28px;
	border: 1px solid transparent;
}
.s-box:focus{
	outline: none;
}
.fa-search{
	position: relative;
	color:#C7C2C2;
	left: 10px;
	top: 5px;
}
.user{
	float: right;
	height: 56px;
	position: relative;
	right: 95px;
	line-height: 56px;
}
.user a{
	text-decoration: none;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #fff;
}
.user span{
	color: #fff;
}
.main{
	width: 100%;
	height: 100%;
}
.left-side{
	width: 260px;
	height: 1102px;
	background: #2B2E3D;
	float: left;
}
.l-head{
	width: 260px;
	height: 150px;
    background: #2B2E3D;/*#151C39;*/
}
.h-pic{
	width: 180px;
	height: 60px;
	margin: 0 auto;
	padding-top:20px;
	text-align: center;

}
.h-pic p{
	position: relative;
	left: -15px;
	line-height: 60px;
	font-size:18px;
	color: #F6F6F4; 
}
.user-pic{
	float: left;
	width: 60px;
	height: 60px;
	background: #2B2E3D;
	border: 1px solid #B9BABE;
    border-radius: 30px;
}
.cicle{
	position: relative;
	top: 5px;
	left: 5px;
	width: 50px;
	height: 50px;
	background:#B9BABE;
	border-radius: 25px;
}
.l-head ul{
	width: 200px;
	height: 60px;
	margin: 0 auto;
    margin-top: 20px;
	text-align: center;
}
.l-head ul li{
	float: left;
	list-style: none;
	width: 30px;
	height: 30px;
	margin: 0px 30px 0px 30px;
}
.l-head ul li span:nth-child(1){
	display: block;
	font-size: 16px;
	font-family: 黑体;
	color:#556477;

}
.l-head ul li span:nth-child(2){
	display: block;
	font-size: 12px;
	font-family: 宋体;
	color: #556477;

}
.l-head ul li a{
	text-decoration: none;
}
.main{
	width: 100%;
	height: 100%;
}

.left-nav{
    width: 260px;

}
.left-list{
	width: 200px;
	margin: 15px auto;
}
.left-list .top-list {
	font-size: 12px;
	font-family: 黑体;
	color:#6E8096;
}
/*.active span{
	color: #fff;
}*/
.list-title{
	padding-top: 15px;
	padding-bottom:15px; 
}
.list-title span{
	margin-left: 5px;
}
.sub-title{
	position: relative;
	left: 20px;
    padding-top: 10px;
	padding-bottom:10px; 
}
.last-title{
	position: relative;
	left: 55px;
    padding-top: 10px;
	padding-bottom:10px; 
}

i{
	display: inline-block;
	width: 12px;
	height: 12px;
}
.person{
	background: url(../img/file-open.png) no-repeat center;
}
.my-collect{
		background: url(../img/my-collect.png) no-repeat center;
	}
.my-enjoy{
		background: url(../img/my-enjoy.png) no-repeat center;
	}
.pic-lib{
		background: url(../img/my-collect.png) no-repeat center;
	}
.grow-record{
		background: url(../img/my-collect.png) no-repeat center;
	}
.cash-info{
		background: url(../img/cash-info.png) no-repeat center;
}
.open-arrow{
		background: url(../img/open-arrow.png) no-repeat center;
}
.file-open{
		background: url(../img/file-open.png) no-repeat center;
}
.file-close{
		background: url(../img/file-close.png) no-repeat center;
}
.right-arrow{
		background: url(../img/right-arrow.png) no-repeat center;
}
.doc-open{
		background: url(../img/doc-open.png) no-repeat center;
}
.right-side{
	width: 1165px;
	margin-left: 260px;
	height: 1102px;
	background: #eee;
}
.right-head{
    width: 100%;
    height: 32px;
    background: #fff;
    padding-left:30px;
    line-height: 32px;
}
.right-head span {
	font-family: 黑体;
	font-size: 12px;
	color: #B9BABE;
}
.right-main{
	padding:20px 60px;
}
.search-items{
	width: 100%;
	height: 85px;
	margin-top: 20px;
	background: #fff;
}
.first-item{
	float: left;
	margin-left: 30px;
}
.first-item span{
	font-family: 黑体;
	font-size: 12px;
	color: #B9BABE;
}
.first-item i{
	display: inline-block;
	width: 24px;
	height: 24px;
}
.first-item .blue-arrow{
	background: url(../img/blue-arrow.png) no-repeat center;
	position: relative;
	left: -30px;
    top: 8px;
}
.first-item input{
	margin-top: 15px;
	margin-left: 10px;
}
.buy-sell{
	position: relative;
	float: left;
    padding: 8px 0px;
    margin-left: 10px;
}
.buy-sell span{
	font-family: 黑体;
	font-size: 12px;
	color: #B9BABE;
}

.buy-sell div{
	margin: 4px 0 ;
}
.buy-sell .blue-arrow{
	background: url(../img/blue-arrow.png) no-repeat center;
	position: relative;
	left: -28px;
	top: 2px;
}


.change-icon{

   float: left;
    width: 30px;
    height: 35px;
    position: relative;
    left: -31px;
    top: 15px;
    background: url(../img/change.png) no-repeat center;
    font-family: 黑体;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding-left: 28px;
    padding-top: 20px;
    
}

.info-detail{
	float: left;
	margin: 7px 30px;
	margin-right: 0px;
}
.info-detail span{
	font-family: 黑体;
	font-size: 12px;
	color: #B9BABE;
}
.input-sm{
	width: 70px;
    height: 25px;
}
.input-mg{
	width: 120px;
	height:25px;
}
.info-detail div{
	margin: 4px 0 ;
}
.info-detail i{
	background: url(../img/blue-arrow.png) no-repeat center;
	position: relative;
	left: -28px;
	top: 2px;
}
.search-button{
     width: 50px;
     height: 25px;
     background: #2189bf;
     border-radius: 2px;
     
     margin:30px 10px;
     float: left;
     text-align: center;
     line-height: 2opx;
}
.search-button a{
	text-decoration: none;
	font-size: 12px;
     font-family: 宋体;
     color: #fff;
}
.time-search{
    width: 100%;
	height: 65px;
    margin-top:10px;
}
.time-search div {
	float: left;
}
.time-search .change-btn{
	width: calc(5% - 6px);
	height: 25px;
	padding: 20px 0;
	margin-right: 6px;
	background: #fff;
	text-align: center;
    font-size: 25px;
    color: #AFA7A7;
}
.time-list{
	width: 72%;
	height: 65px;
} 
.time-search li {
	padding: 12px 0;
	width: calc(16.66% - 6px);
	height: 38px;
	list-style: none;
	margin-right: 6px;
	float: left;
	text-align: center;
	background: #fff;
	border-top: 3px solid transparent;
}

.time-search i {
	display: inline-block;
	width: 50px;
	height: 25px;
}
.time-now{
	font-size: 12px;
	font-family: 微软雅黑;
}
.cash-icon{
	font-size: 12px;
	font-family: 微软雅黑;
     color: #AEAEAE;
}
.cash{
	font-size: 21px;
	font-family: 微软雅黑;
	color: #ED6501;
}
.history-search{
	width: 18%;
	height: 65px;
	line-height: 65px;
	background: #fff;
	text-align: center;
}
.history-search img{
	position: relative;
	top: 10px;
}
.history-search span{
	font-size: 12px;
	font-family: 微软雅黑;
}
.time-list .active{
	border-top: 3px solid #2189bf;;

}
.static{
	width: 100%;
	height: 90px;
	margin-top: 20px; 
}
.static p{
	font-size: 13px;
	margin-bottom: 5px;
	font-family: 微软雅黑;
}
.deal-num{
    height: 70px;
    border-left: 2px solid red;
    float: left;
    margin-right: 25px;
    background: #fff;
}
.deal-num:last-child{
    margin-right: 0;
}
.deal-num span{
	display: inline-block;
	margin: 8px 10px;
}
.deal-num p{
	font-size: 12px;
	font-family:微软雅黑;
	padding: 5px 5px;
}
.deal-num p:last-child{
	color: #ABA6A6;
}

.deal-num .color-block{
	float: right;
	width: 60px;
	height:50px;
      margin: 10px 10px;
      margin-left: 71px;
}
.green{
	background: #36A9B2;
}
.blue{
	background: #398AC1;
}
.red{
	background: #CF4B36;
}
.yellow{
	background:#E1CD46;
}
.t-green{
	border-left: 3px solid #36A9B2;
}
.t-blue{
	border-left: 3px solid #398AC1;
}
.t-red{
	border-left: 3px solid #CF4B36;
}
.t-yellow{
	border-left: 3px solid #E1CD46;
}
.project{
	width: 100%;
	height: 355px;
	margin-top: 15px; 
}
.tab{
	background: #fff;
	border-radius: 4px;
	border: 1px solid #CDD1D4;
}
.pro-1{
	width:59%;
	height: 355px;
	float: left;
	
}
.pro-2{
	width: 40%;
	height: 355px;
	float: right;
}
.tab-title{
	height: 40px;
	background: #F4F5F7;
   border-radius: 4px 4px 0 0;
}
.tab-title p{
	font-family: 黑体;
	font-size:12px;
	color: #B5B5B5;
	padding: 15px 20px;
}
.pro-list {
	width: 100%;
	height: 27px;
	margin: 13px 20px 0 20px;
}
.pro-list li{
	height: 25px;
    float: left;
    width: 16%;
    margin-right: 5px;
    background: #EDECF1;
    border-radius: 4px 4px 0 0;
    font-size: 13px;
	font-family: 微软雅黑;
	text-align: center;
	line-height: 25px;
	border:1px solid #EDECF1;
	border-bottom: 1px solid transparent;
}
.pro-table-1{
	margin: 0px 20px 0 20px;
	border:1px solid #CBCBCB;
	border-radius:0 4px 4px 4px;
	background: #fff;
}
.pro-table-1 table{
	margin: 35px 85px;
	border: 1px solid #CBCBCB;
	border-collapse: collapse;
}
.pro-table-1 td,.pro-table-1 tr{
   	border: 1px solid #CBCBCB;
}
.pro-table-1 td{
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 13px;
	font-family: 微软雅黑;
}
.pro-list li:nth-child(1){
	border: 1px solid #CBCBCB;
	border-bottom: 2px solid transparent;
	background: #fff;
}
.pro-main-2{
 width: 100%;
 margin: 15px 35px 40px 35px;
}
.pro-main-2 .font-css{
	font-family: 黑体;
	font-size:12px;
	color: #B5B5B5;
	padding: 2px 10px;
}
.pro-main-2 .font-css-1{
	font-size: 13px;
    font-family: 微软雅黑;
    padding: 2px 10px;
}
.pro-table-2 div{
	float: left;
}
.pro-price{
	width: 90px;
	height: 45px;
    border: 1px solid #CDD1D4;
    border-left: 1px solid transparent;
}
.pro-response{
	width: 190px;
	height: 45px;
    border: 1px solid #CDD1D4;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.pro-dec{
	width: 280px;
	height: 150px;
    border-bottom: 1px solid #CDD1D4;
}
.secret{
	width: 280px;
	height: 35px;
	line-height: 35px;
}
.secret .search-button{
	float: right;
	margin: 10px 0;
	line-height: 20px;
}
.final{
	width: 100%;
	height: 360px;
	margin-top: 10px;
}
.calendar{
	width: 40%;
	height: 360px;
	float: left;
}
.carrank{
	width: 59%;
	height: 360px;
	float: right;
}
.cal-select{
	padding: 10px 20px;
}
.cal-select select{
	width: 88px;
	height: 25px;
}
.week{
	height: 30px;
	padding: 0 20px;
}
.week li{
	float: left;
	width: 14.2%;
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #A8CFEC;
	border-bottom: 1px solid #E1E1E1;
}
.date{
	height: 230px;
	padding: 0 20px 10px 20px;
}
.date table{
		width: 100%;

}

.date td{
	font-size: 10px;
    font-family: 微软雅黑;
	width: 14.28%;
	height: 40px;
	line-height: 15px;
	text-align: center;
    border: 1px solid transparent;
}
.date .holiday{
	color: #CF363B;
}
.markday,.date td:hover{
	border: 1px solid #F6D564 !important;

}
.car-list {
  padding: 15px 40px;
  height: 290px;
}
.car-list thead{
	font-size: 13px;
    font-family: 微软雅黑;
}
.car-list tbody{
	font-size: 10px;
    font-family: 微软雅黑;
}
.car-list span{
	margin-right: -70px;
}
.progress-bar{
	width: 200px;
    height: 5px;
    background: #E1E1E1;
    float: right;
    margin: 10px 60px;
}
.car-list table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CBCBCB;
}
.car-list tr{
	border: 1px solid #CBCBCB;
}
.car-list td{
	height: 25px;
	border: 1px solid #CBCBCB;
	text-align: center;
	line-height:25px; 
}
.car-list tr td:nth-child(1){
	width: 65px;
}
.car-list tr td:nth-child(2){
	width: 90px;
}
.bar-1{
	width: 80%;
    height: 100%;
    background: #ED6D52;
    float: left;
}
.bar-2{
	width: 75%;
    height: 100%;
    background: #EF8150;
    float: left;
}
.bar-3{
	width: 70%;
    height: 100%;
    background: #F19E4E;
    float: left;
}
.bar-4{
	width: 65%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
.bar-5{
	width: 60%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
.bar-6{
	width: 55%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
.bar-7{
	width: 50%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
.bar-8{
	width: 45%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
.bar-9{
	width: 40%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
.bar-10{
	width: 40%;
    height: 100%;
    background: #7FCAF1;
    float: left;
}
